@font-face {
  font-family: 'Preplay';
  src: url('./../../assets/fonts/11862.otf') format('truetype');
}

.navbar-default {
  background-color: bisque;
  box-shadow: 2px 2px 7px grey;
  margin-bottom: 50px;

  .container-fluid {
    display: flex;
    padding: 5px 30px;

    h2 {
      font-family: 'Preplay';}
  }

  @media screen and(max-width: 700px) {
    h2 {
      display: none;
    }
  }

    .navbar-header {
      width: 100px;
      justify-content:center;

      .logo {
        width: 100%;
      }
    }
  }


